<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
  </head>

  <body>
    <div class="header">
      <img id="logo" src="assets/logo.png">
      <h1> What's your sport?</h1>
    </div>
    <div class="sport1"><p id="kite">Kite surfing</p></div>
    <div class="darkcover1" onmouseover="highlight1()"></div>
    <div class="sport2"><p id="climb">Climbing</p></div>
    <div class="darkcover2" onmouseover="highlight2()"></div>
    <div class="sport3"><p id="bike">Mountain bicking</p></div>
    <div class="darkcover3" onmouseover="highlight3()"></div>
  </body>
</html>
