<html>
  <head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Reviews/style2.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

    <script src="{% static 'Reviews/getReview.js'%}"></script>
  </head>

  <body>
    <div id="darker"></div>
    <h1>Here are some personalised holidays for you</h1>

    <div id="holiday1">
      <h2 id="title1">Holiday 1</h2>
      <a onclick="share()"><img id="share1" src="{% static 'Reviews/assets/share.png'%}"></a>
      <p id="description1">description</p>
    </div>

    <div id="holiday2">
      <h2 id="title2">Holiday 2</h2>
      <a onclick="share()"><img id="share2" src="{% static 'Reviews/assets/share.png'%}"></a>
      <p id="description2">description</p>
    </div>
  </body>
</html>
