<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div id="darker"></div>

    <div class="line"><div id="progress1"></div></div>
    <div id="point1"></div>
    <div id="point2"></div>
    <div id="point3"></div>
    <div id="point4"></div>
    <div id="point5"></div>

    <div class="question1">
      <h1 id="question1">Where are you flying from?</h1>
      <form>
        <input type="text" id="search" name="search" placeholder="Airport IATA">
        <input type="button" name="Submit" id="submit" value="Next" onclick="step1to2()"/>
      </form>
    </div>

    <div class="question2">
      <h1 id="invisibleQuestion">How long will your trip last?</h1>
      <form>
        <input type="text" id="invisibleSearch" name="search" placeholder="Airport">
        <input type="text" id="invisibleSearch" name="search" placeholder="Airport">
      </form>
    </div>

    <div class="question3">
      <h1 id="invisibleQuestion">What is your budget?</h1>
      <form>
        <input type="text" id="invisibleSearch" name="search" placeholder="Airport">
      </form>
    </div>

    <div class="question4">
      <h1 id="invisibleQuestion">How many people are going on this trip?</h1>
      <form>
        <input type="text" id="invisibleSearch" name="search" placeholder="Airport">
      </form>
    </div>

    <div class="question5">
      <h1 id="invisibleQuestion">What is your skill level</h1>
      <form>
        <input type="text" id="invisibleSearch" name="search" placeholder="Airport">
      </form>
    </div>

  </body>
</html>
